.App {
  text-align: center;
}

.container{
  padding: 12px;
}

.container .create-button{
  background-color: navy;
  color: white;
  margin-right: 8px;
  border-radius: 4px;
  padding: 4px 8px;
}

.container .cancel-button{
  background-color: whitesmoke;
  color: gray;
  margin-right: 8px;
  border-radius: 4px;
  padding: 4px 8px;
}

.container .upload-file-btn{
  height: 100px;
  border: dotted gray;
  margin-top: 8px;
}


